@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Neucha&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        font-family: 'Poppins', sans-serif;
    }

    img {
        width: 100%;
        height: auto;
    }

    input {
        outline: none;
        background: none;
        border: none;
    }

    input:is(:hover, :focus-visible) {
        outline: none;
        background: none;
        border: none;
    }

    input[type="file"]::-webkit-file-upload-button {
        visibility: hidden !important;
        display: none !important;
    }

    input[type="file"]::before {
        /* content: 'Masukkan File Gambar Profile'; */
        color: black;
        display: inline-block;
        background: none;
        outline: none;
        background-color: none;
        border: none;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 10pt;
    }

    input[type="radio"] {
        /* remove standard background appearance */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* create custom radiobutton appearance */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        padding: 3px;
        margin-left: -1px;
        margin-top: .1px;
        /* background-color only for content */
        background-clip: content-box;
        border: 2px solid #bbbbbb;
        /* background-color: #e7e6e7; */
        border-radius: 50%;
    }

    /* appearance for checked radiobutton */
    /* input[type="radio"]:checked {
        background-color: #7C000B;
    } */



}

@layer utilities {

    /* COLS */
    .col {
        margin: 0 18px;
        box-sizing: border-box;
    }

    .col-1 {
        width: 10%;
    }

    .col-2 {
        width: 20%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: calc(100% / 3);
    }

    .col-6 {
        width: calc(100% / 2 - 12px);
    }

    .col-8 {
        width: calc(100% * 2 / 3);
    }

    .col-9 {
        width: calc(100% * (9/12));
    }

    .col-10 {
        width: calc(100% * (10/12));
    }

    .col-12 {
        width: 100%;
    }

    /* Custom Styles */

    .span {
        @apply text-primary;
    }

    .span-danger {
        @apply text-[#dc2626];
    }

    /* DARK MODE */

    /* .dark {
        @apply bg-slate-primary;
    }

    .dark .span {
        @apply text-slate-primary;
    }

    .dark input[type="radio"]:checked {
        @apply bg-slate-primary;
    } */

    /* ANIMATIONS */

    .bounce-5 {
        animation-name: bounce-5;
        animation-timing-function: ease;
    }

    @keyframes bounce-5 {
        0% {
            transform: translateY(0);
        }

        10% {
            transform: translateY(0);
        }

        30% {
            transform: translateY(-100px);
        }

        50% {
            transform: translateY(0);
        }

        57% {
            transform: translateY(-7px);
        }

        64% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(0);
        }
    }

}

@layer components {


    /* ALERTS */

    .alert {
        @apply fixed flex justify-between top-10 right-6 p-4 max-w-sm rounded-lg
    }

    .alert-success {
        @apply bg-[#dcfce7] text-[#15803d];
    }

    .alert-danger {
        @apply bg-[#fee2e2] text-[#b91c1c];
    }

    .alert-warning {
        @apply bg-[#fef9c3] text-[#a16207];
    }

    .alert-info {
        @apply bg-[#dbeafe] text-[#1d4ed8];
    }

    /* INPUTS */

    .input-danger {
        @apply bg-[#fef2f2] border border-[#ef4444] text-[#7f1d1d] placeholder-[#b91c1c] ring-[#ef4444];
    }

    /* CARDS */

    .plan.active {
        @apply dark:bg-slate-secondary
    }

    .plan.active button span {
        @apply dark:text-slate-primary
    }


}
