@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        font-family: 'Poppins', sans-serif;
        scroll-behavior: smooth;
    }

    img {
        width: 100%;
        height: auto;
    }

    input {
        outline: none;
        background: none;
        border: none;
    }

    input:is(:hover, :focus-visible) {
        outline: none;
        background: none;
        border: none;
    }

    input[type="file"]::-webkit-file-upload-button {
        visibility: hidden !important;
        display: none !important;
    }

    input[type="file"]::before {
        /* content: 'Masukkan File Gambar Profile'; */
        color: black;
        display: inline-block;
        background: none;
        outline: none;
        background-color: none;
        border: none;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 10pt;
    }

    input[type="radio"] {
        @apply accent-primary dark:accent-slate-fourth;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        padding: 3px;
        margin-left: -1px;
        margin-top: .1px;
        /* background-color only for content */
        background-clip: content-box;
        border: 2px solid #bbbbbb;
        /* accent-color: #7C000B !important; */
        /* background-color: #2F2E41; */
        border-radius: 50%;
    }

    /* input[type="radio"]:checked {
        @apply accent-slate-secondary
    } */

    /* appearance for checked radiobutton */
    /* input[type="radio"]:checked {
        background-color: #7C000B;
    } */



}

@layer utilities {

    /* ADD ONS */

    .active {
        @apply bg-primary dark:bg-slate-third;
        color: #fff;
    }

    .has-scrollbar::-webkit-scrollbar {
        width: 5px;
    }

    .has-scrollbar::-webkit-scrollbar-track {
	@apply border dark:border dark:border-white;
    }

    .has-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-primary dark:bg-white rounded-pill;
    }

    .has-scrollbar2::-webkit-scrollbar {
        width: 5px;
    }

    .has-scrollbar2::-webkit-scrollbar-track {
	@apply border dark:border dark:border-white;
    }

    .has-scrollbar2::-webkit-scrollbar-thumb {
        @apply bg-primary dark:bg-slate-third;
    }

    .has-scrollbar3::-webkit-scrollbar {
        width: 5px;
    }

    .has-scrollbar3::-webkit-scrollbar-track {
	@apply border dark:border dark:border-white;
    }

    .has-scrollbar3::-webkit-scrollbar-thumb {
        @apply bg-primary dark:bg-slate-third rounded-b-[6px];
    }
    
    /* COLS */
    .col {
        margin: 0 18px;
        box-sizing: border-box;
    }

    .col-1 {
        width: 10%;
    }

    .col-2 {
        width: 20%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: calc(100% / 3);
    }

    .col-6 {
        width: calc(100% / 2 - 12px);
    }

    .col-8 {
        width: calc(100% * 2 / 3);
    }

    .col-9 {
        width: calc(100% * (9/12));
    }

    .col-10 {
        width: calc(100% * (10/12));
    }

    .col-12 {
        width: 100%;
    }

    /* Custom Styles */

    .span {
        @apply text-primary;
    }

    .span-danger {
        @apply text-[#dc2626];
    }

    /* DARK MODE */

    /* .dark {
        @apply bg-slate-primary;
    }

    .dark .span {
        @apply text-slate-primary;
    }

    .dark input[type="radio"]:checked {
        @apply bg-slate-primary;
    } */

    /* ANIMATIONS */

    .bounce-5 {
        animation-name: bounce-5;
        animation-timing-function: ease;
    }

    @keyframes bounce-5 {
        0% {
            transform: translateY(0);
        }

        10% {
            transform: translateY(0);
        }

        30% {
            transform: translateY(-100px);
        }

        50% {
            transform: translateY(0);
        }

        57% {
            transform: translateY(-7px);
        }

        64% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(0);
        }
    }

    .circle {
        animation: circle 2s infinite;
    }

    @keyframes circle {
        0% {
            transform: rotate(0);
        }

        50% {
            transform: rotate(360deg);
        }

        100% {
            transform: rotate(0);
        }
    }

    .open-up-left-box {
        /* transform: translateY(12px); */
        animation: openUpLeftBox 2s linear infinite;
    }

    @keyframes openUpLeftBox {
        0% {
            transform: translate(0);
            border-radius: 0%;
        }

        50% {
            transform: translateX(-12px) translateY(-12px);
            border-radius: 50%;
        }

        100% {
            transform: translate(0);
            border-radius: 0%;
        }
    }

    .open-up-right-box {
        /* transform: translateY(12px); */
        animation: openUpRightBox 2s linear infinite;
    }

    @keyframes openUpRightBox {
        0% {
            transform: translate(0);
            border-radius: 0%;
        }

        50% {
            transform: translateX(12px) translateY(-12px);
            border-radius: 50%;
        }

        100% {
            transform: translate(0);
            border-radius: 0%;
        }
    }

    .open-bottom-left-box {
        /* transform: translateY(12px); */
        animation: openBottomLeftBox 2s linear infinite;
    }

    @keyframes openBottomLeftBox {
        0% {
            transform: translate(0);
            border-radius: 0%;
        }

        50% {
            transform: translateX(-12px) translateY(12px);
            border-radius: 50%;
        }

        100% {
            transform: translate(0);
            border-radius: 0%;
        }
    }

    .open-bottom-right-box {
        /* transform: translateY(12px); */
        animation: openBottomRightBox 2s linear infinite;
    }

    @keyframes openBottomRightBox {
        0% {
            transform: translate(0);
            border-radius: 0% !important;
        }

        50% {
            transform: translateX(12px) translateY(12px);
            border-radius: 50%;
        }

        100% {
            transform: translate(0);
            border-radius: 0% !important;
        }
    }

    .wave {
        animation: waveSmooth 1s infinite;
    }

    @keyframes waveSmooth {
        0% {
            transform: translateY(0)
        }

        50% {
            @apply text-primary;
            transform: translateY(-10px)
        }

        100% {
            transform: translateY(0);
        }
    }

    .pop-up {
        animation: popUp 7s infinite;
    }

    @keyframes popUp {
        0% {
            transform: scale(1)
        }

        50% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }

    .pop-up:nth-child(1) {
        animation-delay: 1000ms;
    }

    .pop-up:nth-child(2) {
        animation-delay: 2000ms;
    }

    .pop-up:nth-child(3) {
        animation-delay: 3000ms;
    }

    .pop-up:nth-child(4) {
        animation-delay: 4000ms;
    }

    .pop-up:nth-child(5) {
        animation-delay: 5000ms;
    }


    .pop-up:nth-child(6) {
        animation-delay: 6000ms;
    }


    .pop-up:nth-child(7) {
        animation-delay: 7000ms;
    }




    .wave:nth-child(6) {
        animation-delay: 100ms;
    }

    .wave:nth-child(2) {
        animation-delay: 200ms;
    }

    .wave:nth-child(3) {
        @apply text-primary dark:text-slate-third;
        animation-delay: 300ms;
    }

    .wave:nth-child(4) {
        @apply text-primary dark:text-slate-third;
        animation-delay: 400ms;
    }

    .wave:nth-child(5) {
        @apply text-primary dark:text-slate-third;
        animation-delay: 500ms;
    }

    .wave:nth-child(6) {
        @apply text-primary dark:text-slate-third;
        animation-delay: 600ms;
    }

    .wave:nth-child(7) {
        @apply text-primary dark:text-slate-third;
        animation-delay: 700ms;
    }

    .wave:nth-child(8) {
        @apply text-primary dark:text-slate-third;
        animation-delay: 800ms;
    }

    .wave:nth-child(9) {
        @apply text-primary dark:text-slate-third;
        animation-delay: 900ms;
    }

    .wave:nth-child(10) {
        @apply text-primary dark:text-slate-third;
        animation-delay: 1000ms;
    }

}

@layer components {


    /* ALERTS */

    .alert {
        @apply fixed flex justify-between top-10 right-6 p-4 rounded-lg
    }

    .alert-success {
        @apply bg-[#dcfce7] text-[#15803d];
    }

    .alert-danger {
        @apply bg-[#fee2e2] text-[#b91c1c];
    }

    .alert-warning {
        @apply bg-[#fef9c3] text-[#a16207];
    }

    .alert-info {
        @apply bg-[#dbeafe] text-[#1d4ed8];
    }

    .alert-dark {
        @apply bg-slate-secondary text-white border border-white;
    }

    /* INPUTS */

    .input-danger {
        @apply bg-[#fef2f2] border border-[#ef4444] text-[#7f1d1d] placeholder-[#b91c1c] ring-[#ef4444];
    }

    /* CARDS */

    .plan.active {
        @apply dark:bg-slate-secondary
    }

    .plan.active button span {
        @apply dark:text-slate-primary
    }


}
